.card .card-header-buttons {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
}

.card .notification {
  border-radius: 0;
  margin: 0;
}

.card .table {
  width: 100%;
}

.table tr.is-white {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: white;
}

.table tr.is-black {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #0a0a0a;
}

.table tr.is-light {
  background-color: #eef1f6;
  border-color: #eef1f6;
  color: #e4e8f1;
}

.table tr.is-dark {
  background-color: #eff1f5;
  border-color: #eff1f5;
  color: #3b4863;
}

.table tr.is-primary {
  background-color: #e6f0ff;
  border-color: #e6f0ff;
  color: #0353c4;
}

.table tr.is-link {
  background-color: #e6f0ff;
  border-color: #e6f0ff;
  color: #0353c4;
}

.table tr.is-info {
  background-color: #e6fcff;
  border-color: #e6fcff;
  color: #00bad6;
}

.table tr.is-success {
  background-color: #e7fdf1;
  border-color: #e7fdf1;
  color: #0eb958;
}

.table tr.is-warning {
  background-color: #fff9e6;
  border-color: #fff9e6;
  color: #ffc105;
}

.table tr.is-danger {
  background-color: #fbe9eb;
  border-color: #fbe9eb;
  color: #dc3848;
}

.table tr.is-selected {
  background-color: #ffecb3;
  border-color: #ffecb3;
  color: rgba(0, 0, 0, 0.7);
}

.table tr.is-selected .b-checkbox.checkbox input[type=checkbox] + .check {
  border: 2px solid #7a7a7a;
}

.table .icon {
  float: left;
}

.notification.is-white.is-light {
  background-color: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
  color: white !important;
}

.notification.is-small {
  padding: 0.8rem 1rem;
}

.notification.is-black.is-light {
  background-color: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
  color: #0a0a0a !important;
}

.notification.is-small {
  padding: 0.8rem 1rem;
}

.notification.is-light.is-light {
  background-color: #eef1f6 !important;
  border-color: #eef1f6 !important;
  color: #e4e8f1 !important;
}

.notification.is-small {
  padding: 0.8rem 1rem;
}

.notification.is-dark.is-light {
  background-color: #eff1f5 !important;
  border-color: #eff1f5 !important;
  color: #3b4863 !important;
}

.notification.is-small {
  padding: 0.8rem 1rem;
}

.notification.is-primary.is-light {
  background-color: #e6f0ff !important;
  border-color: #e6f0ff !important;
  color: #0353c4 !important;
}

.notification.is-small {
  padding: 0.8rem 1rem;
}

.notification.is-link.is-light {
  background-color: #e6f0ff !important;
  border-color: #e6f0ff !important;
  color: #0353c4 !important;
}

.notification.is-small {
  padding: 0.8rem 1rem;
}

.notification.is-info.is-light {
  background-color: #e6fcff !important;
  border-color: #e6fcff !important;
  color: #00bad6 !important;
}

.notification.is-small {
  padding: 0.8rem 1rem;
}

.notification.is-success.is-light {
  background-color: #e7fdf1 !important;
  border-color: #e7fdf1 !important;
  color: #0eb958 !important;
}

.notification.is-small {
  padding: 0.8rem 1rem;
}

.notification.is-warning.is-light {
  background-color: #fff9e6 !important;
  border-color: #fff9e6 !important;
  color: #ffc105 !important;
}

.notification.is-small {
  padding: 0.8rem 1rem;
}

.notification.is-danger.is-light {
  background-color: #fbe9eb !important;
  border-color: #fbe9eb !important;
  color: #dc3848 !important;
}

.notification.is-small {
  padding: 0.8rem 1rem;
}

.field.is-view {
  border-bottom: 1px solid rgba(72, 94, 144, 0.16);
}

.field.is-view.is-floating-label .label {
  left: 0;
}

.field.has-addons .control .button.is-white {
  border-color: #ebebeb !important;
}

.field.has-addons .control .button.is-black {
  border-color: black !important;
}

.field.has-addons .control .button.is-light {
  border-color: #c9d1e4 !important;
}

.field.has-addons .control .button.is-dark {
  border-color: #2c3649 !important;
}

.field.has-addons .control .button.is-primary {
  border-color: #02429c !important;
}

.field.has-addons .control .button.is-link {
  border-color: #02429c !important;
}

.field.has-addons .control .button.is-info {
  border-color: #0096ad !important;
}

.field.has-addons .control .button.is-success {
  border-color: #0b9346 !important;
}

.field.has-addons .control .button.is-warning {
  border-color: #dba400 !important;
}

.field.has-addons .control .button.is-danger {
  border-color: #c72334 !important;
}

.datepicker .dropdown-item,
.datepicker .dropdown .dropdown-menu .has-link a {
  display: block;
}

.tags.has-addons .tag {
  border: 1px solid rgba(72, 94, 144, 0.16);
}

.tags.has-addons .tag.is-white {
  border: 1px solid #ebebeb;
}

.tags.has-addons .tag.is-black {
  border: 1px solid black;
}

.tags.has-addons .tag.is-light {
  border: 1px solid #c9d1e4;
}

.tags.has-addons .tag.is-dark {
  border: 1px solid #2c3649;
}

.tags.has-addons .tag.is-primary {
  border: 1px solid #02429c;
}

.tags.has-addons .tag.is-link {
  border: 1px solid #02429c;
}

.tags.has-addons .tag.is-info {
  border: 1px solid #0096ad;
}

.tags.has-addons .tag.is-success {
  border: 1px solid #0b9346;
}

.tags.has-addons .tag.is-warning {
  border: 1px solid #dba400;
}

.tags.has-addons .tag.is-danger {
  border: 1px solid #c72334;
}

.tag {
  border: 1px solid rgba(72, 94, 144, 0.16);
}

.tag.is-white {
  border: 1px solid #ebebeb;
}

.tag.is-black {
  border: 1px solid black;
}

.tag.is-light {
  border: 1px solid #c9d1e4;
}

.tag.is-dark {
  border: 1px solid #2c3649;
}

.tag.is-primary {
  border: 1px solid #02429c;
}

.tag.is-link {
  border: 1px solid #02429c;
}

.tag.is-info {
  border: 1px solid #0096ad;
}

.tag.is-success {
  border: 1px solid #0b9346;
}

.tag.is-warning {
  border: 1px solid #dba400;
}

.tag.is-danger {
  border: 1px solid #c72334;
}

.tag .button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.75rem;
}

.tag .button :active {
  outline: none;
  box-shadow: none;
}

.tag .button :hover {
  outline: none;
  box-shadow: none;
}

.tag .button :focus {
  outline: none;
  box-shadow: none;
}

.tag .button:focus:not(:active),
.tag .button.is-focused:not(:active) {
  outline: none;
  box-shadow: none;
}

.tag.is-white .button {
  color: #0a0a0a !important;
}

.tag.is-black .button {
  color: white !important;
}

.tag.is-light .button {
  color: #3b4863 !important;
}

.tag.is-dark .button {
  color: #e4e8f1 !important;
}

.tag.is-primary .button {
  color: #fff !important;
}

.tag.is-link .button {
  color: #fff !important;
}

.tag.is-info .button {
  color: #fff !important;
}

.tag.is-success .button {
  color: #fff !important;
}

.tag.is-warning .button {
  color: rgba(0, 0, 0, 0.7) !important;
}

.tag.is-danger .button {
  color: #fff !important;
}

.tag .button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.75rem;
}

.tag .button :active {
  outline: none;
  box-shadow: none;
}

.tag .button :hover {
  outline: none;
  box-shadow: none;
}

.tag .button :focus {
  outline: none;
  box-shadow: none;
}

.tag .button:focus:not(:active),
.tag .button.is-focused:not(:active) {
  outline: none;
  box-shadow: none;
}

.tag.is-white .button {
  color: #0a0a0a !important;
}

.tag.is-black .button {
  color: white !important;
}

.tag.is-light .button {
  color: #3b4863 !important;
}

.tag.is-dark .button {
  color: #e4e8f1 !important;
}

.tag.is-primary .button {
  color: #fff !important;
}

.tag.is-link .button {
  color: #fff !important;
}

.tag.is-info .button {
  color: #fff !important;
}

.tag.is-success .button {
  color: #fff !important;
}

.tag.is-warning .button {
  color: rgba(0, 0, 0, 0.7) !important;
}

.tag.is-danger .button {
  color: #fff !important;
}

.fa-lg {
  font-size: 0.9rem;
}

.vaahcms {
  background: #f2f2f2;
}

.vaahcms .btn {
  border-radius: 4px;
  background: #fff;
}

.vaahcms .btn.btn-primary {
  background: #f00;
}

